.categorias__itens{
    display: flex;
    justify-content: space-between;
   

}


@media screen and (max-width: 768px) {

    .categorias__itens{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 30px;
        padding: 2rem;
        text-align: center;
    
    }
    }
    

@media screen and (max-width: 450px) {
    
    .categorias__itens{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 30px;
        padding: 1rem;
        text-align: center;
    
    }
    }
    


